# Projeto 2 - Classificação binária básica
---

## Buscando dados e tratando
---

In [8]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [9]:
x = dados[["home", "how_it_works", "contact"]]
y = dados["bought"]

In [10]:
mapa = { 
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados.rename(columns=mapa, inplace=True)

In [11]:
x = dados[["principal", "como_funciona", "contato"]]
y = dados["comprou"]

x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

## Análise e separação dos dados de treino e testes
---

In [12]:
dados.shape

(99, 4)

In [13]:
treino_x = x[:75]
treino_y = y[:75]

teste_x = x[75:]
teste_y = y[75:]

print(f"treinaremos com {treino_x.shape[0]} elementos e testaremos com {teste_x.shape[0]} elementos")

treinaremos com 75 elementos e testaremos com 24 elementos

## Treinamento do modelo
---

In [15]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

previsoes = modelo.predict(teste_x)

## Pegando acurácia do treinamento
---

In [20]:
from sklearn.metrics import accuracy_score

acuracia = accuracy_score(teste_y, previsoes)
print(f'A acurácia foi de: {acuracia:.4f}')

A acurácia foi de: 0.9583

## Fazendo o split de treino e teste pela Biblioteca
---

In [26]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

SEED =  20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size=0.25, random_state=SEED)
print(f"treinaremos com {treino_x.shape[0]} elementos e testaremos com {teste_x.shape[0]} elementos")

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)
print(f'A acurácia foi de: {acuracia:.4f}')

treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi de: 0.9600

## Fazendo o treino do modelo dividindo as proporções de resultados pelo Y
---

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

SEED =  20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, 
                                                        test_size=0.25,
                                                        random_state=SEED
                                                        stratify=y) # para que ele faça a proporção pelo eixo Y
print(f"treinaremos com {treino_x.shape[0]} elementos e testaremos com {teste_x.shape[0]} elementos")

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)
print(f'A acurácia foi de: {acuracia:.4f}')